# environment files
env/
__pycache__/

# settings
vscode*

# data files
wiki_num_token.txt
stop_words.txt
*.csv
sql/*.sqlite3
var/

# pipeline files
inverted_index/map[2-4]*
inverted_index/reduce[2-4]*
inverted_index/output*